@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --main-bg-color: hsl(217, 19%, 24%);
  --card-bg-color: hsl(217, 19%, 38%);
  --highlights-color: hsl(150, 100%, 66%);
  --highlights-active-color: hsl(150, 100%, 56%, 0.5);
  --text-color: hsl(193, 38%, 86%);

  --quote-normal: 28px;
  --quote-medium: 20px;
  --quote-small: 12px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

h4 {
  color: var(--highlights-color);
  padding: 0;
  margin: 0;
  letter-spacing: 0.425rem;
}

p {
  color: var(--text-color);
  font-size: var(--quote-normal);
  margin-bottom: 3rem;
  letter-spacing: 0.125rem;
}

.container {
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-bg-color);
  height: 350px;
  width: 575px;
  border-radius: 20px;
  text-align: center;
  line-height: 1.5;
  font-family: "Manrope";
}
.card-body p {
  padding: 0 1.25rem;
}

.divider {
  position: relative;
  margin-bottom: 2rem;
  top: 1px;
}

.split-border span {
  position: relative;
  top: 10px;
}

.split-border span::before,
.split-border span::after {
  border-top: 1px solid var(--text-color);
  content: "";
  position: absolute;
  width: 12rem;
}

.split-border span::before {
  margin-right: 3rem;
  right: 100%;
}

.split-border span::after {
  margin-left: 3rem;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  background-color: var(--highlights-color);
  height: 20px;
  width: 20px;
  padding: 1.25rem;
  border-radius: 50%;
  transition: box-shadow 0.8s;
}

.dice:hover {
  border-color: var(--highlights-active-color);
  box-shadow: 0 0 25px 10px var(--highlights-active-color);
  cursor: pointer;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: var(--text-color);
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
}

@media screen and (max-width: 600px) {
  h4 {
    position: relative;
    bottom: 10px;
  }

  p {
    font-size: var(--quote-medium);
  }

  .container {
    margin: 0 2rem;
  }

  .card-body {
    height: 300px;
    width: 475px;
  }

  .card-body p {
    margin: 0.5rem 0 1.5rem;
  }

  .divider {
    top: 16px;
    width: 80%;
  }

  .split-border span {
    position: relative;
    top: 20px;
  }

  .split-border span::before,
  .split-border span::after {
    border-top: 1px solid var(--text-color);
    content: "";
    position: absolute;
    width: 8rem;
  }

  .dice {
    position: absolute;
    bottom: -30px;
    height: 20px;
    width: 20px;
    padding: 1.25rem;
  }

  .attribution {
    font-size: 10px;
  }
}

@media screen and (max-width: 481px) {
  h4 {
    position: relative;
    bottom: 10px;
  }

  p {
    font-size: var(--quote-small);
  }

  .container {
    margin: 0 2rem;
  }

  .card-body {
    height: 275px;
    width: 325px;
  }

  .card-body p {
    margin: 0.5rem 0 1.5rem;
  }

  .divider {
    top: 16px;
    width: 80%;
  }

  .split-border span {
    position: relative;
    top: 20px;
  }

  .split-border span::before,
  .split-border span::after {
    border-top: 1px solid var(--text-color);
    content: "";
    position: absolute;
    width: 5rem;
  }

  .dice {
    position: absolute;
    bottom: -30px;
    height: 10px;
    width: 10px;
    padding: 1.25rem;
  }

  .attribution {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  h4 {
    position: relative;
    bottom: 10px;
  }

  p {
    font-size: var(--quote-small);
  }

  .container {
    padding: 0 8rem;
  }

  .card-body {
    height: 275px;
    width: 250px;
  }

  .card-body p {
    margin: 0.5rem 0 1.5rem;
  }

  .divider {
    top: 2px;
  }

  .split-border span {
    position: relative;
    top: 5px;
  }

  .split-border span::before,
  .split-border span::after {
    border-top: 1px solid var(--text-color);
    content: "";
    position: absolute;
    width: 4rem;
  }

  .split-border span::before {
    margin-right: 2rem;
    right: 100%;
  }

  .split-border span::after {
    margin-left: 2rem;
  }

  .dice {
    position: absolute;
    bottom: -30px;
    background-color: var(--highlights-color);
    height: 10px;
    width: 10px;
    padding: 1.25rem;
    border-radius: 50%;
    transition: box-shadow 0.8s;
  }

  .attribution {
    font-size: 10px;
  }
}
